<launch>
    <arg name="robot_pose_x" default="8.0"/>
    <arg name="robot_pose_y" default="1.41653084711"/>
    <arg name="robot_pose_yaw" default="0"/>
    <arg name="world_file" default="$(find pedsim_gazebo_plugin)/worlds/social_contexts_prueba_short_L.world"/>

    <include file="$(find pedsim_simulator)/launch/manolos.launch">
        <arg name="scene_file" value="$(find pedsim_simulator)/scenarios/social_contexts_aggro_short_L_2.xml"/>
        <arg name="launch_gazebo_sim" value="false"/>
        <arg name="world_frame" value="odom" />
        <arg name="tracker" value="false" />
    </include>
    
    <include file="$(find rl_missions)/launch/core/rl_gazebo.launch">
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
        <arg name="robot_pose_yaw" value="$(arg robot_pose_yaw)"/>
        <arg name="world_name" value="$(arg world_file)" />
    <!--    <arg name="procedence_of_launch_file" value="$(find crumb_gazebo)" />
        <arg name="publish_odom" value="true" /> -->
    </include>
    
    
    <rosparam param="actions_enabled">
        [0,2,3]
    </rosparam>
    <arg name="robot_model_name" default="turtlebot"/>
    
    <param name="robot_model_name" value="$(arg robot_model_name)"/>
    <include file="$(find rl_missions)/launch/core/rl_navigation.launch">

        <arg name="spencer_enabled" value="true" />
        <arg name="spencer_total_persons" value="2" />
        <arg name="spencer_orientation_levels" value="3" /> 
        <arg name="spencer_orientation_vel_levels" value="2" /> 
        <arg name="spencer_orientation_vel_unit" value="0.03" />
        <arg name="spencer_depth_levels" value="3"/>
        <arg name="spencer_depth_collision" value="0.50"/>
        <arg name="spencer_depth_unit" value="0.50"/>

        <arg name="obstacles" value="true"/>
        <arg name="scanner_depth_levels" value="3"/>
        <arg name="scanner_orientation_levels" value="3"/>
        <arg name="initial_radius_target" value="1.5"/>
        <arg name="increment_scaffolding" value="0.20" />
        <arg name="buffer_episode_size_scaffolding" value="200" />
        <arg name="threshold_scaffolding" value="2.0"/>
        <arg name="is_using_kobuki_bumpers" value="false"/>
        <arg name="grid_point_distance" value="0.02" />
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
        <arg name="robot_pose_yaw" value="$(arg robot_pose_yaw)"/>
        <arg name="time_actions" value="[1.0]"/>
        
        <arg name="debug_target_generator" value="true" />
        <arg name="respawn" value="false" />
        <arg name="tg_region_x" value="[7.5, 12.7, 10.5, 12.7]" />
        <arg name="tg_region_y" value="[0.3, 2.5, 2.5, 5.5]" />
        <!-- 
        <arg name="tg_region_x" value="[0.5, 12.7, 10.5, 12.7]" />
        <arg name="tg_region_y" value="[0.3, 2.5, 2.5, 12.7]" /> -->
        <!-- <arg name="time_actions" value="[0.75, 1.0, 1.25, 1.50]"/> -->




        <arg name="from_pedestrian_learning" value="true"/>
        <arg name="spencer_states_before" value="18"/>
    </include>
    <arg name="decider_loop_evasion_on" value="false"/>
    <include file="$(find rl_missions)/launch/core/rl_nodes.launch">
        <arg name="read_initial_table" value="true"/>
        
        <arg name="reward_function" value="reward::RewardNextStateScannerFunction"/>
        <arg name="reward_value_for_collision" value="-10"/>
        <arg name="decider_implementation" value="decider::DeciderLoopEvasion" if="$(arg decider_loop_evasion_on)"/> 
        <arg name="decider_implementation" value="decider::DeciderBoltzmannCorrection" unless="$(arg decider_loop_evasion_on)"/>
        <arg name="temperature" value="5"/>
        <arg name="is_normalized_Q" value="true"/>
        <arg name="is_biased" value="true"/>
        <arg name="is_temperature_decreasing" value="true" />
        <arg name="max_episodes" value="2500" />
        <arg name="respawn" value="false" />

        <arg name="repeat_distance_states_for_spencer_states" value="true"/>
        <arg name="save_Q" value="false" />
        
    </include>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rl_missions)/rviz/scanner_test_pedsim.rviz" />
    
    <param name="total_experiments" value="1" />
</launch>
